<ul>
  <li><a href="/apps/simple_integration.html">Simple Integration</a></li>
  <li><a href="/apps/pretty_color_component.html">Unit: components/pretty-color</a></li>
  <li><a href="/apps/template_less_component.html">Unit: component/template-less</a></li>
