<ul>
  <li><a href="/apps/simple_integration.html">Simple Integration</a></li>
  <li><a href="/apps/pretty_color_component.html">Unit: components/pretty-color</a></li>
  <li><a href="/apps/template_less_component.html">Unit: component/template-less</a></li>
  <li><a href="/apps/custom_test_helpers.html">Custom Test Helpers</a></li>
  <li><a href="/apps/testing_user_interaction.html">Testing User Interaction</a></li>
  <li><a href="/apps/unit_testing_controllers.html">Unit Testing Controllers</a></li>
  <li><a href="/apps/unit_testing_routes.html">Unit Testing Routes</a></li>